{% load static %}
{% load mptt_tags %}

<h2 class="catalog__title">Комбикорма</h2>

<div class="catalog__info">
  <ul class="breadcrumb__list">
    <li class="breadcrumb__list-item"><a href="{% url "catalog:index" %}" class="breadcrumb__list-link">Каталог</a></li>
    {% if parent_categories %}
    {% for category in parent_categories %}
        <li class="breadcrumb__list-item"><a href="{% url "catalog:index" category.slug %}" class="breadcrumb__list-link">{{ category.name }}</a></li>
    {% endfor %}
    {% endif %}
  </ul>
</div>

<div class="catalog__categ-cards">
  
  {% recursetree categories %}
  {% if category and category.name == node.name %}
  <div class="catalog__categ-card catalog__categ-card_active">
    <div class="catalog__categ-card-textbox">
      <h3 class="catalog__categ-card-title">{{node.name}}</h3>
      <a href="{% url "catalog:index" node.slug %}"
         class="catalog__categ-card-link catalog__categ-card-link_active">Подробнее</a>
    </div>
    {% if node.image %}
    <img
      src="{{ node.image.url }}"
      alt="{{ node.name }}"
      class="catalog__categ-card-img"
    />
    {% else %}
    <img
    src="{% static "images/not-found-image.svg" %}"
    alt="{{ node.name }}"
    class="catalog__categ-card-img"
    />
    {% endif %}
  </div>
  {% else %}
  <div class="catalog__categ-card">
    <div class="catalog__categ-card-textbox">
      <h3 class="catalog__categ-card-title">{{node.name}}</h3>
      <a href="{% url "catalog:index" node.slug %}" class="catalog__categ-card-link">Подробнее</a>
    </div>
    {% if node.image %}
    <img
      src="{{ node.image.url }}"
      alt="{{ node.name }}"
      class="catalog__categ-card-img"
    />
    {% else %}
    <img
    src="{% static "images/not-found-image.svg" %}"
    alt="{{ node.name }}"
    class="catalog__categ-card-img"
    />
    {% endif %}
  </div>
  {% endif %}
  {% endrecursetree %}
</div>

<div class="catalog__prod-cards">
  {% if goods %}
  {% for product in goods %}
  <div class="catalog__prod-card">
    <h2 class="catalog__prod-card-title">
      {{ product.name }}
    </h2>
    {% if product.image_small %}
    <img
      src="{{ product.image_small.url }}"
      alt="{{ product.name }}"
      class="catalog__prod-card-img"
    />
    {% else %}
    <img
    src="{% static "images/not-found-image.svg" %}"
    alt="..."
    class="catalog__prod-card-img"
    />
    {% endif %}

    {% if product.description %}
    <p class="catalog__prod-card-description">
      {{ product.description }}
    </p>
    {% endif %}

    <a href="{% url "catalog:product" product.slug %}" class="catalog__prod-card-link"
        >Подробнее</a
    >
  </div>
  {% endfor  %}
  {% else %}
    <p class="catalog__no-products-text">По данному запросу ничего не найдено.</p>
  {% endif %}
</div>

<p class="catalog__description">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. 
  Accumsan sit amet nulla facilisi morbi tempus.
</p>